:root {
    --blue: #ffd602;
    --red: #cf1212;
    --yellow: #016fb9;
  }

body {
    overflow: scroll;
}
.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "nav"
                         "section"
                         "aside"
                         "footer";
    height: auto;
    position: absolute;
    width: 100%;
  }

.navbar__content {
    padding: 10px;
}
.navbar__content img {
    width: 80px;
  }

.navbar__content ul li a {
    font-size: .9rem;
}

.main-content {
    padding-left: 25px;
    padding-right: 40px;
}

.main-content p:nth-child(3) {
    margin: 10px 0;
    font-size: 18px;
    width: auto;
}
.main-content p:nth-child(4) {
    margin: 0 0 30px 0;
    font-size: 18px;
    width: auto;
}
.side-content {
    align-items: center;
    /* background: papayawhip; */
    display: flex;
    justify-content: center;
    grid-area: aside;
}

.side-content img {
    max-width: 300px;
    max-height: 400px;
    margin-bottom: 100px;
    padding: 0;
    display: block;
}

.side-content img:hover{
    transform:scale(1);
  }

.footer {
    background: var(--yellow);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-area: footer;
    position: absolute;
    margin-top: 30px;
}

.footer div:hover img {
    cursor: pointer;
    transform: translateY(-20px) scale(1);
    transition: transform 0.3s ease-in-out;
}
.footer div img {
    bottom: 0px;
    position: absolute;
    width: 100%;
}

.modal-content {
    height: 60%;
    width: 80%;
    border-radius: 10px;
}

.modal, .modalDrog, .modalMoney{
    height: 120%;
    top: 520px;
}

.modalMoney p{
    padding: 5px;
  }

