:root {
    --blue: #ffd602;
    --red: #cf1212;
    --yellow: #016fb9;
  }

  body {
    font-family: 'Lato', sans-serif;
    height: auto;
    margin: 0;
    overflow: scroll;
  }

  .page {
    height: auto;
  }

.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: "nav"
                         "section"
                         "aside"
                         "footer";
    height: auto;
    position: absolute;
    width: 100%;
  }

.navbar__content {
    padding: 10px;
}
.navbar__content img {
    width: 80px;
  }

.navbar__content ul li a {
    font-size: .9rem;
}

.main-content {
    padding-left: 25px;
    padding-right: 40px;
}

.main-content p:nth-child(3) {
    margin: 10px 0;
    font-size: 18px;
    width: auto;
}
.main-content p:nth-child(4) {
    margin: 0 0 30px 0;
    font-size: 18px;
    width: auto;
}
.side-content {
    align-items: center;
    /* background: papayawhip; */
    display: flex;
    justify-content: center;
    grid-area: aside;
}

.side-content img {
    max-width: 300px;
    max-height: 400px;
    margin-bottom: 0px;
    padding: 0;
    display: block;
}

.side-content img:hover{
    transform:scale(1);
  }

  .footer {
    border-radius: 50px 50px 0 0;
    height: 100px;
  }

  .footer div {
    background: var(--blue);
    border-radius: 20px 20px 0 0;
    display: flex;
    height: 40%;
    justify-content: center;
    position: relative;
    width: 80px;
    z-index: 3;
  }

.footer div:hover img {
    cursor: pointer;
    transform: translateY(-20px) scale(1.1);
    transition: transform 0.3s ease-in-out;
}
.footer div img {
    bottom: 0px;
    position: absolute;
    width: 100%;
}
.footer div:nth-child(1) {
    bottom: 0px;
    transform: translateY(200px);

    animation-name: footer-child;
    animation-duration: 0.5s;
    animation-delay: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  .footer div:nth-child(2) {
    bottom: 0px;
    transform: translateY(200px);

    animation-name: footer-child;
    animation-duration: 0.5s;
    animation-delay: 3.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  .footer div:nth-child(3) {
    transform: translateY(200px);

    animation-name: footer-child;
    animation-duration: 0.5s;
    animation-delay: 4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

.modal, .modalDrog, .modalMoney{
    height: 100vh;
    top: 350px;
}
.modal-content {
    height: 400px;
    min-width: 320px;
    border-radius: 10px;
}
.modalMoney p{
    padding: 5px;
}

.modal-content p{
   width: 80%;
}
